body{
  background-image: url('../images/chalice.jpg');
  background-size: 100% 100%;
}

#hello{
  font-family: Volkorn-Italic;
  letter-spacing: 1px;
  font-size: 24px;
  border-bottom: solid #fafafa 1pt;
  color: #fafafa;
  padding-top: 10%;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#about{
  font-family: Volkorn;
  letter-spacing: 0.5px;
  line-height: 150%;
  font-size: 20px;
  color: #fafafa;
  text-align: justify;
}

