@charset "utf-8";

body {
  background: #fafafa;
  font-family: sans-serif;
  background-attachment: fixed;
}

h1 {
  font-size: 32px;
  padding: 10px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.center{
  text-align: center;
}

@font-face {
  font-family: "Nexa-Light";
  src: url('../fonts/nexa/NexaLight.otf');
}

@font-face {
  font-family: "Enge";
  src: url('../fonts/engebrechtre/engebrechtre_rg.ttf');
}

@font-face {
  font-family: "Abe";
  src: url('../fonts/AbrahamLincoln/Abe/AbrahamLincoln.ttf');
}

@font-face {
  font-family: "Langdon";
  src: url('../fonts/langdon/Langdon.otf');
}

@font-face {
  font-family: "Orian";
  src: url('../fonts/Oranienbaum/Oranienbaum.ttf');
}

@font-face {
  font-family: "Glober";
  src: url('../fonts/glober/GloberSemiBold.otf');
}

@font-face {
  font-family: "Volkorn";
  src: url('../fonts/Vollkorn/Vollkorn-Regular.ttf');
}

@font-face {
  font-family: "Volkorn-Italic";
  src: url('../fonts/Vollkorn/Vollkorn-Italic.ttf');
}

.name-box {
  font-family: "Volkorn";
  border: solid black 1pt;
  text-align: center;
  padding: 0;
  margin-top: 30px;
}

a.btn-name-box{
  background: transparent;
  width: 100%;
  color: #333333;
  font-size: 30px;
  margin: 7.5px 0 7.5px 0;
}

.navbar{
  text-align: center;
}

.navbar-link > a{
  color: #333;
  font-family: Langdon;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
}

.navbar-link > a:hover{
  text-decoration: none;
  border-bottom: solid #333 2pt;
}

.navbar-list{
  list-style: none;
}

#list ul{
  list-style: none;
  color: #fafafa;
  font-family: Langdon;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  border: solid #fafafa 1pt;
  padding: 10px;
}

#list li{
  padding: 10px;
  text-align: center;
}

#list a, #list a:visited{
  color: #fafafa;
}

#list a:hover{
  border-bottom: solid #fafafa 2pt;
  text-decoration: none;
}

