h2{
  font-family: Orian;
  font-size: 34px;
  color: #0C0C0C;
  margin-top: 20px;
}

article{
  text-align: justify;
  font-family: Glober;
  color: #292929;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-indent: 35px;
}

article#summary{
  text-indent: 0;
  text-align: center;
}

#article-header, #article-header-list{
  font-family: Orian, Garamond, serif;
  background-color: #141414;
  color: white;
  font-size: 26px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  box-shadow: 2px 2px 5px #141414;
}

#article-header-list{
  font-size: 22px;
}