body{ 
  background-image: url('../images/howth1.jpg'); 
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#list ul{
  color: #141414;
  border: solid #141414 1pt;
  text-align: center; 
}

#list a, #list a:visited{
  color: #141414;
}

#list a:hover{
  border-bottom: solid #141414 2pt;
}