.name-box{
	border-color: #fafafa;
}

a.btn-name-box, a.btn-name-box:hover, .navbar-link > a, span{
	color: #fafafa;
}

.navbar-link > a:hover{
  text-decoration: none;
  border-bottom: solid #fafafa 2pt;
}