.large.button#name-header{
  color: #141414;
  border: solid #141414 1pt;
}

.nav-content li{
  color: #141414;
}

.nav-content a, .nav-content a:visited, .nav-content a:hover{
  color: #141414;
}

.nav-content a:hover{
    border-bottom: 2px solid #141414;
}