.nav-content li{
  color: #fafafa;
}

.nav-content a, .nav-content a:visited, .nav-content a:hover{
  color: #fafafa;
}

.nav-content a:hover{
    border-bottom: 2px solid #fafafa;
}

.name-box{
	border-color: #fafafa;
}

a.btn-name-box, a.btn-name-box:hover{
	color: #fafafa;
}

