body{
  background-image: url('../images/mountains-5.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

img {
  width: 100%;
}