body{
  background-image: url('../images/fall-bridge.jpg');
  bbackground-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#list ul{
  list-style: none;
  color: #fafafa;
  font-family: Langdon;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  border: solid #fafafa 1pt;
  padding: 10px;
}

#list li{
  padding: 10px;
  text-align: center;
}

#list a, #list a:visited{
  color: #fafafa;
}

#list a:hover{
  border-bottom: solid #fafafa 2pt;
  text-decoration: none;
}