body{ 
  background-image: url('../images/castle3.jpg'); 
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#list ul{
  color: #fafafa;
  border: solid #fafafa 1pt;
}

#list a, #list a:visited{
  color: #fafafa;
}

#list a:hover{
  border-bottom: solid #fafafa 2pt;
}