body{
  background-image: url('../images/wanderlust2.jpg');
  background-size: 100% 100%;
}

#hello{
  padding-top: 5%;
  color: #333333;
  border-bottom: none;
  margin-bottom: 20px;
}

#hello a{
  text-decoration: none;
  color: #333;  
}

p.descr{
  padding-top: 20px;
  margin-top: 10px;
  border-top: solid #333 1pt;
  height: 75px;
}

.footer{
  font-family: 'Volkorn-Italic';
  color: #333333;
  border: none;
  letter-spacing: 1.5px;
  font-size: 16px;
}

a.footer:hover{
  color: #222222;
}

a.bottom-link{
  font-family: 'Langdon', sans-serif;
  font-size: 17px;
  border-bottom: none;
}

a.bottom-link:hover{
  border-bottom: solid #333 2pt;
}
