body{
  background-image: url('../images/wanderlust2.jpg');
  bbackground-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.row#text{
  margin: 0 50px;
}

#hello{
  color: #333333;
  border-bottom: none;
  margin-bottom: 20px;
}

#hello a{
  text-decoration: none;
  color: #333;  
}

p.descr{
  margin: 20px 0;
  padding: 20px 0;
  border-top: solid #333 1pt;
  font-size: 18px;
}

.row.foot{
  margin-top: 15px;
  padding: 20px 0;
  text-align: center;
}

.footer{
  font-family: 'Volkorn-Italic';
  color: #333333;
  border: none;
  letter-spacing: 1.5px;
  font-size: 16px;
  margin-bottom: 200px;
}

a.footer:hover{
  color: #222222;
}

a.bottom-link{
  font-family: 'Langdon', sans-serif;
  font-size: 17px;
  border-bottom: none;
}

a.bottom-link:hover{
  border-bottom: solid #333 2pt;
}

.space{
  margin-top: 200px;
}
