body{
    margin: 0;
}

img.logo{
    width: 100px;
    height: 100px;
}

div.nav{
    width: 95%;
    border: solid black 1pt;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    width: 20%;
    border: solid black 1pt;
}