body{
    margin: 0;
}



div.nav{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1pt;
}

img.logo{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}