---
title: About
---
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'about'
= stylesheet_link_tag 'header-white'

.row
  .small-1.column
    &nbsp
  .small-5.column#hello
    Hi. I'm Chris. 
  .small-1.column
    &nbsp
    
.row
  .small-1.column
    &nbsp
  .small-5.column#about
    I'm a photographer from St. Louis studying Computer Science at Duke University. I enjoy playing golf, exploring Durham's food scene, and spending as much time in Colorado as possible. 
  .small-1.column
    &nbsp