---
title: About
---
= stylesheet_link_tag 'all'
= stylesheet_link_tag 'about'
= stylesheet_link_tag 'header-white'

.row
  .col-xs-9.col-xs-offset-1.col-sm-6.col-sm-offset-2.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4#hello
    %h2
      Hi. I'm Chris. 
.row
  .col-xs-9.col-xs-offset-1.col-sm-6.col-sm-offset-2.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4
    %p#about I'm a photographer from St. Louis studying Computer Science at Duke University. I love cheering on Duke basketball, exploring Durham's food scene, and spending as much time in Colorado as possible. 