---
title: Contact
---
= stylesheet_link_tag 'contact'

.row{:style => "height:30px;"}

.row{:style => "padding-top: 20px;"}
  .small-1.column
    &nbsp
  .small-10.column#contact-text
    %p#love I'd love to hear from you.
    = link_to "Email", "mailto:christopherdieckhaus@gmail.com"
    %span | 
    = link_to "Resume", "https://www.dropbox.com/s/f7xhibfrk80x75b/%5Echris%20dieckhaus%20resume.pdf", :target => "_blank"
    %span | 
    = link_to "Github", "https://github.com/chrisdieckhaus", :target => "_blank"
  .small-1.column
    &nbsp