= javascript_include_tag 'index'
= stylesheet_link_tag 'index'

.row{:style => "padding-top: 20px;"}
  .small-12.columns
    %ul#slider
      %li 
        = image_tag 'images/front-page/alleluia.jpg'
      %li 
        = image_tag 'images/front-page/chapel.jpg'

%p{:style => "font-family: Orian;"} This page is currently under construction.